透视表是各种电子表格程序和其他数据分析软件中一种常见的数据汇总工具，它根据一个或多个键对数据进行聚合，并根据行和列桑的分组将数据分配到各个矩形区域中

In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [2]:
df = DataFrame({'sex':['male','female','female','male'],
               'smoke':['yes','no','no','no'],
               'height':np.random.randint(158,180,4),
               'weight':np.random.randint(50,80,4)})
df

      sex smoke  height  weight
0    male   yes     168      66
1  female    no     163      78
2  female    no     161      70
3    male    no     164      52

行分组透视图

In [4]:
df.pivot_table(index='sex', aggfunc=max) # 默认平均值

        height smoke  weight
sex
female     163    no      78
male       168   yes      66

列分组透视表

In [5]:
df.pivot_table(columns='smoke')

smoke           no    yes
height  162.666667  168.0
weight   66.666667   66.0

行列分组的透视表

In [6]:
df.pivot_table(index='sex', columns='smoke')

       height        weight
smoke      no    yes     no   yes
sex
female  162.0    NaN   74.0   NaN
male    164.0  168.0   52.0  66.0

交叉表是用于计算分组频率的特殊透视图，对数据进行汇总

In [9]:
df = DataFrame({'sex':['male','female','male','male','female','male','female','male','male','female'],
               'hand':['right','left','left','right','right','right','right','right','left','left']}
    
              )
df

      sex   hand
0    male  right
1  female   left
2    male   left
3    male  right
4  female  right
5    male  right
6  female  right
7    male  right
8    male   left
9  female   left

In [11]:
pd.crosstab(df['sex'],df['hand'], margins=True) # margins => 多了All

hand    left  right  All
sex
female     2      2    4
male       2      4    6
All        4      6   10